.navbar-fixed-top {
  text-align: right;
  padding-right: 30px;
  padding-top: 20px;
  background-color: #B3F1F5;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.content {
  margin-top: 100px;
  text-align: center;
}
