
    <div class="navbar navbar-fixed-top">
      {{#link-to 'about'}}About{{/link-to}}
      {{#link-to 'contact'}}Contact Us{{/link-to}}
        </div>
        <div class="container title">
          <div class="row">
            <h2>Recipe Blog</h2>
          </div>
        </div>
  <div class="container content">
    <div class="row">
      {{outlet}}
    </div>
  </div>
