<header class="head">
    <h1>Recipe Blog</h1>
  </header>
      <div class="navbar navbar-fixed-left">
        {{#link-to 'contact'}}Contact Us{{/link-to}}
        <br>
        {{#link-to 'about'}}About{{/link-to}}
      </div>
    <div class="container">
      <div class="row">

        {{outlet}}
      </div>
    </div>
